<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {% if page.title %} {% capture title %}{{ page.title | escape }} | {{
  site.title | escape }}{% endcapture %} {% else %} {% capture title %}{{
  site.title | escape }}{% endcapture %} {% endif %} {% assign canonical =
  page.url | replace:'index.html','' | absolute_url %} {% assign description =
  page.description | default: page.excerpt | default: site.description |
  strip_html | normalize_whitespace | escape %}

  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}" />
  <link rel="canonical" href="{{ canonical }}" />
  <link
    rel="alternate"
    type="application/rss+xml"
    title="{{ site.title | escape }}"
    href="{{ '/feed.xml' | absolute_url }}"
  />

  <!-- Fonts -->
  <link rel="dns-prefetch" href="https://fonts.gstatic.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,700;1,400&amp;display=swap"
    rel="stylesheet"
  />

  <!-- Styles -->
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}" />
  <link rel="stylesheet" href="{{ '/assets/syntax.css' | relative_url }}" />

  <!-- Twitter -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="{{ site.twitter_username }}" />
  <meta name="twitter:creator" content="{{ site.twitter_username }}" />
  <meta name="twitter:title" content="{{ title | truncate: 70 }}" />
  <meta
    name="twitter:description"
    content="{{ description | truncate: 200 }}"
  />
  <meta
    name="twitter:image"
    content="{{ '/assets/images/photo.jpg' | absolute_url }}"
  />

  <!-- Google Analytics -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());
    gtag("config", "{{ site.google_analytics }}");
  </script>

  <!-- Theme Toggler -->
  <script>
    // dat complexity.
    const html = document.querySelector("html");
    let currentTheme = localStorage.getItem("theme") || "dark";
    html.classList.add(currentTheme);
    window.addEventListener("DOMContentLoaded", (event) => {
      document.querySelector("#toggle-theme").addEventListener("click", () => {
        const nextTheme = currentTheme === "dark" ? "light" : "dark";
        html.classList.remove(currentTheme);
        html.classList.add(nextTheme);
        localStorage.setItem("theme", nextTheme);
        currentTheme = nextTheme;
      });
    });
  </script>
</head>
