---
---

@import "whiteglass";

hr {
  clear: both;
}

.site-nav {
  .page-link:not(:last-child) {
    margin-right: 15px;
  }
}

.cv-pdf-download {
  display: block;
  margin-top: -25px;
  margin-bottom: 20px;
}

.cv-header {
  display: none;
}

.icon-link {
  &:hover {
    text-decoration: none;

    svg {
      opacity: 0.5;
    }
  }

  svg {
    width: 19px;
    vertical-align: -4px;
    color: #111;
  }
}

.hidden-pdf-bump {
  display: none;
}

@media only screen and (min-width: 480px) {
  .bio-photo {
    float: left;
    margin: 15px;
  }
}

@media only screen and (min-width: 768px) {
  .bio {
    float: left;
    width: calc(100% - 184px);
  }

  .bio-photo {
    margin-left: 0;
  }
}

/* print */
@media print {
  @page {
    margin: 0.5in 0.25in;
  }

  html {
    zoom: 0.825;
  }

  .site-header {
    display: none;
  }

  .site-footer {
    display: none;
  }

  .post-header {
    margin-bottom: 0;
  }

  .post-title {
    font-size: 36px;
    margin-bottom: -1px;
    letter-spacing: 0.95px;
  }

  .cv-header {
    display: block;

    h1 {
      font-size: 48px;
      margin-bottom: -12px;
    }

    h2 {
      font-size: 32px;
      letter-spacing: 1.85px;
      margin-bottom: 4px;
    }

    p {
      letter-spacing: -0.32px;
    }
  }

  .post-content {
    h3,
    h4 {
      margin-bottom: 0;
    }

    h5 {
      margin-bottom: 0.5em;
    }
  }

  hr {
    height: 0;
    margin: 25px 0 15px 0;
    border-bottom: 4px solid #e8e8e8;
  }

  .hidden-pdf-bump {
    display: block;
  }
}

#search {
  box-sizing: border-box;
  font-size: 14px;
  border: 2px solid #e8e8e8;
  width: 100%;
  padding: 6px;
}
