---
layout: layouts/default.vto
---

<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ title }}</h1>
    <p class="post-meta">
      <time>{{ date |> date('HUMAN_DATE') }}</time>
    </p>
  </header>

  <div class="post-content">{{ content }}</div>
</article>
