<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}{{ title_suffix }}</title>
    <link rel="canonical" href="{{ target_url }}">
    <script>location="{{ target_url }}"</script>
    <meta http-equiv="refresh" content="0; url={{ target_url }}">
    <meta name="robots" content="noindex">
  </head>
  <h1>{{ title }}{{ title_suffix }}</h1>
  <h2>Redirecting...</h2>
  <a href="{{ target_url }}">Click here if you are not redirected.</a>
</html>
