*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 1em;
    background: rgba(255, 255, 255, 1);
    font-family: 'Raleway', sans-serif;
    font-size: 80%;
    line-height: 1.25;

    @media (min-width: 30em) {
        padding: 1.25em;
        font-size: 100%;
    }

    @media (min-width: 48em) {
        padding: 1.5em;
        font-size: 120%;
    }

    @media (min-width: 60em) {
        padding: 1.75em;
        font-size: 140%;
    }

    @media (min-width: 80em) {
        padding: 2em;
        font-size: 160%;
    }
}

ul,
ol, {
    list-style-position: inside;
    margin-left: 1em;
}

ul {
    list-style-type: square;
}

a {
    text-decoration: none;
    white-space: nowrap;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);

    &:hover {
        color: rgb(0, 0, 0);
        background: rgb(255, 255, 255);
    }

    .content & {
        white-space: normal;
        color: rgb(0, 0, 0);
        background: rgb(255, 255, 255);

        &:hover {
            color: rgb(255, 255, 255);
            background: rgb(0, 0, 0);
        }
    }
}

.main-title {
    font-size: 2em;
    margin: 0 0 0.5em 0;
}

.main-description {
    font-size: 1.5em;
    margin-bottom: 2em;

    span {
        display: block;
    }

    a {
        font-size: 0.6em;
        font-weight: normal;
    }
}

.info-section {
    font-size: 1em;
    margin-bottom: 2em;

    &:last-of-type {
        margin-bottom: 0;

        .content & {
            margin-bottom: 2em;
        }
    }

    &.articles ul {
        list-style: none;
    }

    &.labs {
        margin-bottom: 3em;
    }
}

.info-section-title {
    font-size: 1.25em;
}

.info-section-list {
    margin-left: 1em;

    dt {
        margin-top: 0.5em;

        .content & {
            font-weight: bold;

            > a {
                font-weight: normal;
            }
        }

        &:first-of-type {
            margin-top: 0;
        }
    }
}

[data-lang] {
    &:after {
        content: "[" attr(data-lang) "]";
        font-weight: normal;
        margin-left: 0.25em;
        font-size: 75%;
        font-style: italic;
    }
}

.fou-ou-fou {
    h1 {
        font-size: 5em;
    }

    .datcat {
        display: inline-block;

        a {
            background: none;
            padding: 0;
        }

        img {
            display: block;
            max-width: 100%;
        }

        em {
            display: block;
            margin: 0.5em 0;
            font-size: 0.75em;
            text-align: center;
        }
    }
}
